---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.20.0
  name: peerings.gateway.githedgehog.com
spec:
  group: gateway.githedgehog.com
  names:
    categories:
    - hedgehog
    - hedgehog-gateway
    kind: Peering
    listKind: PeeringList
    plural: peerings
    shortNames:
    - peer
    singular: peering
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.gatewayGroup
      name: GatewayGroup
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Peering is the Schema for the peerings API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: PeeringSpec defines the desired state of Peering.
            properties:
              gatewayGroup:
                description: GatewayGroup is the name of the gateway group that should
                  process the peering
                type: string
              peering:
                additionalProperties:
                  properties:
                    expose:
                      items:
                        properties:
                          as:
                            items:
                              properties:
                                cidr:
                                  description: CIDR to include, only one of cidr,
                                    not can be set
                                  type: string
                                not:
                                  description: CIDR to exclude, only one of cidr,
                                    not can be set
                                  type: string
                              type: object
                            type: array
                          default:
                            type: boolean
                          ips:
                            items:
                              properties:
                                cidr:
                                  description: CIDR to include, only one of cidr,
                                    not, vpcSubnet can be set
                                  type: string
                                not:
                                  description: CIDR to exclude, only one of cidr,
                                    not, vpcSubnet can be set
                                  type: string
                                vpcSubnet:
                                  description: CIDR by VPC subnet name to include,
                                    only one of cidr, not, vpcSubnet can be set
                                  type: string
                              type: object
                            type: array
                          nat:
                            properties:
                              masquerade:
                                properties:
                                  idleTimeout:
                                    description: Time since the last packet after
                                      which flows are removed from the connection
                                      state table
                                    type: string
                                type: object
                              portForward:
                                properties:
                                  idleTimeout:
                                    description: Time since the last packet after
                                      which flows are removed from the connection
                                      state table
                                    type: string
                                  ports:
                                    items:
                                      properties:
                                        as:
                                          type: string
                                        port:
                                          type: string
                                        proto:
                                          enum:
                                          - tcp
                                          - udp
                                          - ""
                                          type: string
                                      type: object
                                    type: array
                                type: object
                              static:
                                type: object
                            type: object
                        type: object
                      type: array
                  type: object
                description: Peerings is a map of peering entries for each VPC participating
                  in the peering (keyed by VPC name)
                type: object
            type: object
          status:
            description: PeeringStatus defines the observed state of Peering.
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
