---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.2
  name: gatewayagents.gwint.githedgehog.com
spec:
  group: gwint.githedgehog.com
  names:
    categories:
    - hedgehog
    - hedgehog-gateway
    kind: GatewayAgent
    listKind: GatewayAgentList
    plural: gatewayagents
    shortNames:
    - gwag
    singular: gatewayagent
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.lastAppliedTime
      name: Applied
      type: date
    - jsonPath: .status.lastAppliedGen
      name: AppliedG
      type: integer
    - jsonPath: .metadata.generation
      name: CurrentG
      type: integer
    - jsonPath: .status.agentVersion
      name: Version
      type: string
    - jsonPath: .spec.gateway.protocolIP
      name: ProtoIP
      priority: 1
      type: string
    - jsonPath: .spec.gateway.vtepIP
      name: VTEPIP
      priority: 1
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: GatewayAgent is the Schema for the gatewayagents API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: GatewayAgentSpec defines the desired state of GatewayAgent.
            properties:
              agentVersion:
                description: AgentVersion is the desired version of the gateway agent
                  to trigger generation changes on controller upgrades
                type: string
              gateway:
                description: GatewaySpec defines the desired state of Gateway.
                properties:
                  asn:
                    description: ASN is the ASN of the gateway
                    format: int32
                    type: integer
                  interfaces:
                    additionalProperties:
                      description: GatewayInterface defines the configuration for
                        a gateway interface
                      properties:
                        ips:
                          description: IPs is the list of IP address to assign to
                            the interface
                          items:
                            type: string
                          type: array
                        kernel:
                          description: Kernel is the kernel name of the interface
                            to use (required for kernel driver), e.g. enp2s1
                          type: string
                        mtu:
                          description: MTU for the interface
                          format: int32
                          type: integer
                        pci:
                          description: PCI address of the interface (required for
                            DPDK driver), e.g. 0000:00:01.0
                          type: string
                      type: object
                    description: Interfaces is a map of interface names to their configurations
                    type: object
                  logs:
                    description: Logs defines the configuration for logging levels
                    properties:
                      default:
                        type: string
                      tags:
                        additionalProperties:
                          type: string
                        type: object
                    type: object
                  neighbors:
                    description: Neighbors is a list of BGP neighbors
                    items:
                      description: GatewayBGPNeighbor defines the configuration for
                        a BGP neighbor
                      properties:
                        asn:
                          description: ASN is the remote ASN of the BGP neighbor
                          format: int32
                          type: integer
                        ip:
                          description: IP is the IP address of the BGP neighbor
                          type: string
                        source:
                          description: Source is the source interface for the BGP
                            neighbor configuration
                          type: string
                      type: object
                    type: array
                  profiling:
                    description: Profiling defines the configuration for profiling
                    properties:
                      enabled:
                        type: boolean
                    type: object
                  protocolIP:
                    description: ProtocolIP is used as a loopback IP and BGP Router
                      ID
                    type: string
                  vtepIP:
                    description: VTEP IP to be used by the gateway
                    type: string
                  vtepMAC:
                    description: VTEP MAC address to be used by the gateway
                    type: string
                  vtepMTU:
                    description: VTEPMTU is the MTU for the VTEP interface
                    format: int32
                    type: integer
                  workers:
                    description: Workers defines the number of worker threads to use
                      for dataplane
                    type: integer
                type: object
              peerings:
                additionalProperties:
                  description: PeeringSpec defines the desired state of Peering.
                  properties:
                    peering:
                      additionalProperties:
                        properties:
                          expose:
                            items:
                              properties:
                                as:
                                  items:
                                    properties:
                                      cidr:
                                        type: string
                                      not:
                                        type: string
                                    type: object
                                  type: array
                                ips:
                                  items:
                                    properties:
                                      cidr:
                                        type: string
                                      not:
                                        type: string
                                      vpcSubnet:
                                        type: string
                                    type: object
                                  type: array
                                nat:
                                  properties:
                                    stateful:
                                      description: Use connection state tracking when
                                        performing NAT
                                      properties:
                                        idleTimeout:
                                          description: Time since the last packet
                                            after which flows are removed from the
                                            connection state table
                                          type: string
                                      type: object
                                    stateless:
                                      description: Use connection state tracking when
                                        performing NAT, use stateful NAT if omitted
                                      type: object
                                  type: object
                              type: object
                            type: array
                        type: object
                      description: Peerings is a map of peering entries for each VPC
                        participating in the peering (keyed by VPC name)
                      type: object
                  type: object
                type: object
              vpcs:
                additionalProperties:
                  properties:
                    internalID:
                      type: string
                    subnets:
                      additionalProperties:
                        properties:
                          cidr:
                            description: CIDR is the subnet CIDR block, such as "10.0.0.0/24"
                            type: string
                        type: object
                      description: Subnets is a map of all subnets in the VPC (incl.
                        CIDRs, VNIs, etc) keyed by the subnet name
                      type: object
                    vni:
                      description: VNI is the VNI for the VPC
                      format: int32
                      type: integer
                  type: object
                type: object
            type: object
          status:
            description: GatewayAgentStatus defines the observed state of GatewayAgent.
            properties:
              agentVersion:
                description: AgentVersion is the version of the gateway agent
                type: string
              lastAppliedGen:
                description: Generation of the last successful configuration application
                format: int64
                type: integer
              lastAppliedTime:
                description: Time of the last successful configuration application
                format: date-time
                type: string
              state:
                description: State represents collected data from the dataplane API
                  the includes FRR as well
                properties:
                  dataplane:
                    description: Dataplane is the status of the dataplane
                    type: object
                  frr:
                    description: FRR is the status of the FRR daemon
                    properties:
                      lastAppliedGen:
                        description: LastAppliedGen is the generation of the last
                          successful application of a configuration to the FRR
                        format: int64
                        type: integer
                    type: object
                  lastCollectedTime:
                    description: LastCollectedTime is the time of the last successful
                      collection of data from the dataplane API
                    format: date-time
                    type: string
                  peerings:
                    additionalProperties:
                      description: PeeringStatus represents the status of a peering
                        between a pair of VPCs in one direction
                      properties:
                        b:
                          description: Bytes is the number of bytes sent on the peering
                          format: int64
                          type: integer
                        d:
                          description: Drops is the number of packets dropped on the
                            peering
                          format: int64
                          type: integer
                        p:
                          description: Packets is the number of packets sent on the
                            peering
                          format: int64
                          type: integer
                        pps:
                          description: PktsPerSecond is the number of packets sent
                            per second on the peering
                          type: number
                      type: object
                    description: Peerings is the status of the VPCs peerings where
                      key is VPC1->VPC2 and data is for one direction only
                    type: object
                type: object
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
